.ul1,
.li1 {
  display: inline-block;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: blue;
}
#row1 {
  display: flex;
  justify-content: center;
  /* justify-items: center; */
  align-content: center;
  /* align-items: center; */
}
input {
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 10px;
  height: 40px;
  background-color: lavender;
}
#textarea {
  border-radius: 10px;
  margin-right: 20px;
  background-color: lavender;
}
h6 {
  color: gray;
  font-size: small;
  font-weight: bold;
}
#btn {
  height: 10%;
  border-radius: 10%;
  padding: 15px 32px;
}
.fa-facebook {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  background-color: lightgoldenrodyellow;
  font-size: 20px;
}
.fa-linkedin {
  font-size: 20px;
}
.fa-slack {
  font-size: 20px;
}
.fa-twitter {
  font-size: 20px;
}
