h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 140px;
    font-family:monospace;
    font-style: Merienda bold;
    padding-top: 40px;
}

#about-page {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
}

button {
    margin-top: 140px;
    margin-left: 900px;
    width: 180px;
    height:40px;
    border-radius: 40px;
}

#grn-bgn {
    background-color: rgb(77, 180, 129);
    border-radius: 40px;
}

#about-page {
    background: url("/assets/images/bg.jpeg");
    background-size: cover;
}

#learn-more {
    padding-bottom: 10px;
}

#about-details {
    background-color: white;
    color: black;
    text-align: center;
    font-family: monospace;
    margin-right: 120px;
    margin-left: 120px;
}

#hidden-details {
    text-align: center;
    font-family: monospace;
    background-color: white;
    color: black;
    margin-right: 120px;
    margin-left: 120px;
}
