h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 140px;
    font-family:monospace;
}

.card-body {
    text-align: center;
    font-family:monospace;
}

.card {
    margin-right: 120px;
    margin-left: 120px;
}
