@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
html,
    body,
    .intro-3 {
      height: 100%;
    }
    @media (max-width: 450px) {
      html,
      body,
      .intro-3 {
        height: 820px;
      }
    }
    @media (min-width: 451px) and (max-width: 740px) {
      html,
      body,
      .intro-3 {
        height: 900px;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      .intro-3 {
        height: 950px;
      }
    }

    nav {
    height: 40px;
}